.sign-in-btn {
    border-radius: 4px;
    width: 96px;
    height: 36px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.blue-button-hover {
    background: #1973e8;
}
.flex-double-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    position: relative;
}