
<!DOCTYPE html>
<html lang="en, zh">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" sizes="64x64">
    <meta charset="UTF-8">
    <title>排行榜</title>
    <link rel="stylesheet" href="/static/index.css">
    <style>
        td {
            width: 50px;
        }

        .add_point_error {
            font-size: 10px;
        }
    </style>
</head>

<body>
    
    <a href="/">
        <div class="login">
            <div class="sign-in-btn blue-button-hover flex-double-center">
                ←返回
            </div>
        </div>
    </a>
    <h1 style='text-align:center'>排行榜</h1>

    <table cellspacing="20" width="100%" style="text-align:center">
        <tr>
            <th>次序</th>
            <th>姓名</th>
            <th>分数</th>
            <th>称号</th>
            <th>分数</th>
        </tr>
        {% for i in range(10) %}
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ list[i][0] }}</td>
            <td>{{ list[i][1] }}</td>
            <td>{{ list[i][2] }}</td>
            <td>
                <form action="/admin/" method="post">
                    <input type="hidden" name="for" value="{{ i }}">
                    <input class="add" type="number" name="t1" placeholder="增加分数" autocomplete=off>
                    <input type="submit" value="确定">
                    <br>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% for message in get_flashed_messages() %}
    <h2 style="text-align: center;color: rgb(255, 0, 0);">{{ message }}</h2>
    {% endfor %}
</body>

>>>>>>> 14be8542db4439b6d1c34c8e4c6f145d8302ebbc
</html>