<!DOCTYPE html>
<html lang="en, zh">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" sizes="64x64">
    <meta charset="UTF-8">
    <title>排行榜</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/admin.css">
    <style>
        .add {
            max-width: 53px;
        }

        td {
            width: 50px;
        }
    </style>
</head>

<body>
    <a href="/admin/">
        <div class="login">
            <div class="sign-in-btn blue-button-hover flex-double-center">登录</div>
        </div>
    </a>
    <h1 style='text-align:center;margin:0;padding:0'>排行榜</h1>
    
    <table cellspacing="20" width="100%" style="text-align:center">
        <tr>
            <th>次序</th>
            <th>姓名</th>
            <th>分数</th>
            <th>称号</th>
        </tr>
        {% for i in range(10) %}
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ list[i][0] }}</td>
            <td>{{ list[i][1] }}</td>
            <td>{{ list[i][2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
