
<!DOCTYPE html>
<html lang="en, zh">

<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" sizes="64x64">
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div style="text-align: center;">
        <a href="/">
            <div class="login">
                <div class="sign-in-btn blue-button-hover flex-double-center">←返回</div>
            </div>
        </a>
        <form action="/login/" method="post">
            {% for message in get_flashed_messages() %}
            <h1>{{message}}</h1>
            {% endfor %}
            <span>输入用户名:</span>
            <input type="text" name="username" placeholder="输入用户名" autocomplete=off>
            <br />
            <span>输入密码:&nbsp;&nbsp;&nbsp;</span>
            <input type="password" name="password" placeholder="输入密码" autocomplete=off>
            <br />
            <input type="submit" value="登录">
        </form>
    </div>
</body>

</html>